.content-fragment .block {
  background-color: #f8f8f8;
  border-radius: 24px;
  overflow: hidden;
}

.content-fragment .block .card-body-content {
  padding: 48px 40px;
}

.content-fragment .block .card-body-content p {
  font-size: 16px;
  margin: 1.5rem 0;
}

.content-fragment .block .card-body-content p.cta-link {
  margin-bottom: 0;
}

.content-fragment .block .card-body-content h4 {
  margin: 0;
  font-size: 24px;
}

.content-fragment .block .card-body-image {
  display: flex;
}

.content-fragment .block .card-body-image img {
  width: 100%;
  object-fit: cover;
}

@media (width <= 1200px) {
  .content-fragment-wrapper {
    padding: 1rem !important;
  }
}